{% extends "club/base.html"%}
{% block content %}
<ul class="header">
    <li style="margin-left: 5px;">All Users</li>
    <li style="float: right;"><a href="{% url 'admin-user-add' %}">Add</a></li>
</ul>
<br><br>
<div style="overflow-x: auto;">
    <table class="table">
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
        {% for u in all_user %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            {% if u.profile.description %}
            <td>{{ u.profile.description }}</td>
            {% else %}
            <td style="text-align:center;">&#8212</td>
            {% endif %}
            <td style="width: 70px; height: 50px;">
                <a href="{% url 'admin-user-edit' u.username %}">Edit</a>
            </td>
            <td style="width: 90px; height: 50px;">
                <a href="{% url 'admin-user-delete' u.username%}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}