{% extends "club/base.html"%}
{% block content %}
<div class="container">
<br>
    {% if request.request_feedback.approval != 2 %}
        <a class="button" href="{% url 'admin-request-feedback' %}">Back</a>
    {% else %}
        <a class="button" href="{% url 'admin-request' %}">Back</a>
    {% endif %}
<br><br>
<h3>{{ request.title }}</h3>
<br>
{{ request.datetime_created|date:"d F Y P" }}
<br>
{{ request.detail }}
<br>
request by {{ request.user }}
<br>
<br>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>FeedBack</legend>
            {{ form.as_p }}
        </fieldset>
            <button type="submit">Reply</button>
    </form>
    <br>
    {% if request.request_feedback.approval != 2 %}
        <a class="button" href="{% url 'admin-request-delete' request.id %}">Delete</a>
    {% endif %}
</div>
<br>

{% endblock %}