{% extends "club/base.html"%}
{% block content %}
<div class="container">
<br>
    {% if type == 'all' %}
        <a class="button" href="{% url 'admin-request' %}">Back</a>
    {% elif type == 'pending' %}
        <a class="button" href="{% url 'admin-request-pending' %}">Back</a>
    {% elif type == 'accept' %}
        <a class="button" href="{% url 'admin-request-accept' %}">Back</a>
    {% elif type == 'reject' %}
        <a class="button" href="{% url 'admin-request-reject' %}">Back</a>
    {% endif %}
<br><br>
    <ul class="header">
        <li style="font-weight: bold; font-size: 22px;">{{ request.title }}</li>
        <li style="float: right">{{ request.datetime_created|date:"d F Y P" }}</li>
    </ul>
<br>
    <p>request by {{ request.user }}</p>
    <div style="font-size:18px; margin-bottom: 5px;">Description:</div>
    <div class="detailBox">{{ request.detail }}</div>
<br>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>FeedBack</legend>
            {{ form.as_p }}
        </fieldset>
            <button type="submit">Reply</button>
    </form>
    <br>
    <a class="button" href="{% url 'admin-request-delete' type request.id %}">Delete</a>
</div>
<br><br>
{% endblock content %}