{% extends "club/base.html"%}
{% block content %}
<div class="title">All User Request</div>
<form method="GET" action="{% url 'admin-request' type %}">
    <label></label><input class="searchBar" type="text" name="search" value="{{ search }}" placeholder="search request title">
    <input class="button" type="submit" value="Search">
</form>
<br>
<div class="selectBox">
    <a class="{% if type == 'all' %}select{% endif %}" href="{% url 'admin-request' 'all' %}">All</a>
    <a class="{% if type == 'pending' %}select{% endif %}" href="{% url 'admin-request' 'pending' %}">Pending</a>
    <a class="{% if type == 'accept' %}select{% endif %}" href="{% url 'admin-request' 'accept' %}">Accept</a>
    <a class="{% if type == 'reject' %}select{% endif %}" href="{% url 'admin-request' 'reject' %}">Reject</a>
</div>
{% for request in requests %}
<div class="rectangleBox" style="
    {% if request.request_feedback.approval == 1 %}
        background-color: #67F178;
    {% elif request.request_feedback.approval == 0 %}
        background-color: #F16767;
    {% else %}
        background-color: #FFFF00;
    {% endif %}
">
    <a href="{% url 'admin-request-detail' type request.id %}">
        <div class="requestTitle">{{ request.title }}</div>
        <div class="shortText">request by {{ request.user }}</div>
        <div class="time">{{ request.datetime_created|date:"d F Y P" }}</div>
        <div class="approval">
        {% if request.request_feedback.approval == 1 %}
            <p>Accepted</p>
        {% elif request.request_feedback.approval == 0 %}
            <p>Rejected</p>
        {% elif request.request_feedback.approval == 2 %}
            <p>Pending</p>
        {% endif %}
        </div>
    </a>
<br>
</div>
{% endfor %}
{% endblock content %}