{% extends "club/base.html"%}
{% block content %}
<div class="container">
    <br>
    <a class="button" href="{% url 'admin-task-detail' task.id %}">Back</a>
    <br><br>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Edit Task</legend>
            <br>
            <p>Title: {{ form.title }}</p>
            <p>Detail: {{ form.detail }}</p>
            <p>Old Deadline: {{ task.deadline }}</p>
            <p>New Deadline: {{ form.deadline }}</p>
        </fieldset>
        <button type="submit">Change</button> <br>
    </form>
</div>

{% endblock content %}