{% extends "club/base.html"%}
{% block content %}
<div class="title">All Task</div>
<br>
<a class="button" href="{% url 'admin-task-create' %}">Create Task</a>
<br><br>
{% for task, number in tasks %}
<div class="rectangleBox" style="background-color:#E8E8E8;">
    <a href="{% url 'admin-task-detail' task.id %}">
        <div class="rectangleBoxPercentage" style="margin-top: 35px;
            {% if number.percentage >= 80 %}
            color: #14C22C;
            {% elif number.percentage < 50 %}
            color: red;
            {% endif %}
        ">
            {{ number.value }}/{{ number.total }}&nbsp&nbsp&nbsp&nbsp{{ number.percentage }}%
        </div>
        <div class="rectangleBoxTitle">{{ task.title }}</div>
        <div class="rectangleBoxShortText" style="color: red;">Deadline: {{ task.deadline|date:"d F Y, P" }}</div>
        <div class="rectangleBoxTime">{{ task.datetime_created|date:"d F Y P" }}</div>
    </a>
</div>
{% endfor %}
{% endblock content %}