<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'club/style.css' %}">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>no title</title>
    {% endif %}
</head>
<body>
<div id="sidebar">
    <p>Image</p>
    {% include "club\navigation bar.html" %}
    {% if messages %}
        {% for message in messages %}
            <div>
                <span onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="main">
    {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
