<div id="mySidemenu" class="sidemenu">
    {% if user.is_superuser %}
    <a class="{% if title == 'Manage Attendance' %}select{% endif %}" href="{% url 'admin-attendance' %}">Attendance</a>
    <a class="{% if title == 'Manage Task' %}select{% endif %}" href="{% url 'admin-task' %}">Task</a>
    <a class="{% if title == 'Manage User' %}select{% endif %}" href="{% url 'admin-user'%}">User</a>
    <a class="{% if title == 'Manage Request' %}select{% endif %}" href="{% url 'admin-request' %}">Request</a>
    <a class="{% if title == 'Manage Report' %}select{% endif %}" href="{% url 'admin-report' %}">Report</a>
    <a class="{% if title == 'Edit Page' %}select{% endif %}" href="{% url 'admin-edit-page' %}">Edit Page</a>
    {% else %}
    <a class="{% if title == 'User Task' %}select{% endif %}" href="{% url 'user-task' %}">Task</a>
    <a class="{% if title == 'User Request' %}select{% endif %}" href="{% url 'user-request' %}">Request</a>
    <a class="{% if title == 'User Attendance' %}select{% endif %}" href="{% url 'user-attendance' %}">Attendance</a>
    {% endif %}
</div>

<script>

function toggleSidebar() {
    var size = parseInt(document.getElementById("mySidemenu").style.width)
    if (size == 150) {
      return closeSidebar()
    }
    return openSidebar()
}

function openSidebar() {
    document.getElementById("mySidemenu").style.width = "150px";
    document.getElementById("sidebar").style.marginLeft = "150px";
}

function closeSidebar() {
    document.getElementById("mySidemenu").style.width = "0";
    document.getElementById("sidebar").style.marginLeft= "0";
}

</script>

<style>

.sidemenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232B2B;;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidemenu a {
    padding: 16px 24px;
    text-decoration: none;
    font-size: 18px;
    color: #A4ABAB;
    display: block;
    transition: 0.3s;
}

.sidemenu a:hover {
    color: #ffffff;
}

.sidemenu a.select{
    color: yellow;
}

@media screen and (max-height: 450px) {
    .sidemenu {padding-top: 15px;}
    .sidemenu a {padding: 8px 24px}
}

#sidebar {
    transition: margin-left 0.5s;
}

</style>
