<div id="mySidemenu" class="sidemenu">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<script>

function toggleSidebar() {
    var size = parseInt(document.getElementById("mySidemenu").style.width)
    if (size == 120) {
      return closeSidebar()
    }
    return openSidebar()
}

function openSidebar() {
    document.getElementById("mySidemenu").style.width = "120px";
    document.getElementById("sidebar").style.marginLeft = "120px";
}

function closeSidebar() {
    document.getElementById("mySidemenu").style.width = "0";
    document.getElementById("sidebar").style.marginLeft= "0";
}

</script>

<style>

.sidemenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232B2B;;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidemenu a {
    padding: 16px 24px;
    text-decoration: none;
    font-size: 18px;
    color: #A4ABAB;
    display: block;
    transition: 0.3s;
}

.sidemenu a:hover {
    color: #ffffff;
}

@media screen and (max-height: 450px) {
    .sidemenu {padding-top: 15px;}
    .sidemenu a {padding: 8px 24px}
}

#sidebar {
    transition: margin-left 0.5s;
}

</style>
