{% extends "club/base.html"%}
{% block content %}
<h3>All Attendance</h3>
<br>
{% for event, attendance in events %}
<div class="rectangleBox" style="background-color:#E8E8E8;">
    <a href="{% url 'admin-attendance-edit' event.id %}">
        <div class="rectangleBoxTitle">{{ event.title }}</div>
        <div class="rectangleBoxShortText" style="color: green;">Start Time: {{ event.start_time|date:"d F Y, P" }}</div>
        <div class="rectangleBoxShortText" style="color: green;">End Time: {{ event.end_time|date:"d F Y, P" }}</div>
        <br>
        <div class="rectangleBoxTime">{{ event.datetime_created|date:"d F Y P" }}</div>
        <div style="
            display: block;
            position: absolute;
            font-size: 20px;
            right: 10px;
            top: 40%;
            font-weight: bold;
            {% if attendance.percentage >= 80 %}
            color: #14C22C;
            {% elif attendance.percentage < 50 %}
            color: red;
            {% endif %}
        ">
            {{ attendance.value }}/{{ attendance.total }}&nbsp&nbsp&nbsp&nbsp{{ attendance.percentage }}%
        </div>
    </a>
</div>
{% endfor %}
{% endblock content %}