{% extends "club/base.html"%}
{% block content %}
<h3>All Users</h3>
<div style="overflow-x: auto;">
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Description</th>
            <th style="width: 120px;"></th>
        </tr>
        {% for u in all_user %}
        <tr>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            {% if u.description %}
            <td>{{ u.description }}</td>
            {% else %}
            <td style="text-align:center;">&#8212</td>
            {% endif %}
            <td style="width: 70px; height: 50px;">
                <a href="{% url 'admin-user-edit' u.username %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}