{% extends "club/base.html"%}
{% block content %}
<h2><bold>Your Request</bold></h2>
<a class="button" href="{% url 'user-request-create' %}">Create Request</a>
<br><br><br>
{% for request in requests %}
<div class="rectangleBox" style="background-color:#E8E8E8;">
    <a href="{% url 'user-request-detail' request.id %}">
        <div class="titleBox">{{ request.title }}</div>
        <div class="shortText">
            {% if request.request_feedback.approval == 1 %}
                Your Request Accepted
            {% elif request.request_feedback.approval == 0 %}
                Your Request Rejected
            {% elif request.request_feedback.feedback %}
                Receive Feedback
            {% else %}
                No Feedback
            {% endif %}
        </div>
        <br>
        <div class="time">{{ request.datetime_created|date:"d F Y P" }}</div>
    </a>
</div>
{% endfor %}
{% endblock content %}