{% extends "club/base.html"%}
{% block content %}
<ul class="header">
    <li class="title" style="font-size: 24px;">Event</li>
    <li style="float: right;"><a href="{% url 'admin-event-create' %}">Create New Event</a></li>
</ul>
<br>
<form style="margin-top: 10px;" method="GET">
    <label></label><input class="searchBar" type="text" name="search" value="{{ search }}" placeholder="search username">
    <input class="button" type="submit" value="Search">
</form>
{% for event in events %}
<div class="rectangleBox" style="background-color:#E8E8E8;">
    <a href="{% url 'admin-event-detail' event.id %}">
        <div class="rectangleBoxTitle">{{ event.title }}</div>
        <div style="margin-bottom: 5px;">Description:</div>
        <div class="rectangleBoxShortText"> {{ event.detail }}</div>
        <div class="rectangleBoxShortText" style="color: green;">Start Time: {{ event.start_time|date:"d F Y, P" }}</div>
        <div class="rectangleBoxShortText" style="color: green;">End Time: {{ event.end_time|date:"d F Y, P" }}</div>
        <div class="rectangleBoxTime">{{ event.datetime_created|date:"d F Y P" }}</div>
    </a>
</div>
{% endfor %}
{% endblock content %}