{% extends "club/base.html"%}
{% block content %}
<h1>Are you sure you want to delete Event: {{ event.title }}</h1>
<p>Once you click delete, the data of the attendance of this event and event will be gone.</p>
<table>
    <th style="width: 100px;"><a class="button" href="{% url 'admin-event-detail' event.id %}">Cancel</a></th>
    <th style="width: 150px;">
        <form method="POST">
            {% csrf_token %}
            <button class="button" type="submit">Delete</button>
        </form>
    </th>
</table>

{% endblock content %}