<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'club/style.css' %}">
    {% if title_page %}
        <title>{{ title_page }}</title>
    {% else %}
        <title>Club</title>
    {% endif %}
</head>
<body>
    {% if user.is_authenticated %}
        {% include 'club\sidebar.html' %}
    {% endif %}
<div id="sidebar">
    {% if title == "Home" or title == "About" or title == 'Edit Page' %}
        <img class="top-background" src="{% get_media_prefix %}{{ top_background }}" alt="background-picture">
    {% endif %}
    {% include "club\navigation bar.html" %}
    {% if messages %}
        {% for message in messages %}
            <div style="margin-top: -10px; border: 1px groove; font-size: 16px;
            {% if message.tags == 'success' %}
            background-color: #57FF59;
            {% elif message.tags == 'error' %}
            background-color: #FF5757;
            {% else %}
            background-color: #E8E8E8;
            {% endif %}
            ">
                <span onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="main">
    {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
