{% extends "club/base.html"%}
{% block content %}
<div class="selectBox" style="margin-top: 20px;" xmlns="http://www.w3.org/1999/html">
    <a class="{% if type == 'home' %}select{% endif %}" href="{% url 'admin-edit-home-page' %}">Edit Home Page</a>
    <a class="{% if type == 'about' %}select{% endif %}" href="{% url 'admin-edit-about-page' %}">Edit About Page</a>
</div>

<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if type == 'home' %}
            <p>Club Name: {{ form.title_page }} It is page title shown at the top of the window (Need to exit full screen in order to view)</p>
            <p>Top Background: {{ form.top_background }}</p>
            <fieldset>
                <legend>Page Footer</legend>
                <p>Phone Number: {{ form.phone_number }}</p>
                <p>Email: {{ form.email }}</p>
            </fieldset>
        <br>
            <fieldset>
                <legend>Home Page</legend>
                <h2>{{ form.title_text }}</h2>
                <p style="width: 95%">{{ form.paragraph1 }}</p>
                <br>
                {% if image %}
                    {% load static %}
                    <img class="home-background" src="{% get_media_prefix %}{{ image }}" alt="background-picture">
                {% endif %}
                <p style="width: 95%">{{ form.paragraph2 }}</p>
                <p style="list-style-type: none;">Background On Left: {{ form.image }}</p>
                <p style="width: 95%;">{{ form.paragraph3 }}</p>
            </fieldset>
        {% elif type == 'about' %}
            <h3>About Us</h3>
            {{ form.about_us }}
            <br>
        {% endif %}
        <button type="submit" style="margin-bottom: 20px;">Change</button>
    </form>
</div>
{% endblock content %}