{% extends "club/base.html"%}
{% block content %}
<button class="button" style="float: left;" onclick="back()">Back</button>
<form method="POST">
    {% csrf_token %}
    <input type="submit" class="button" style="float: right;" value="Save">
    <br><br><br>
    <div style="font-weight: bold; font-size: 20px; margin-top:2px;">Attendance of Event: {{ event.title }}</div>
    <table class="table" style="width: 100%;">
        <tr>
            <th style="width:39%;">Member</th>
            <th style="width:61%;">Attendance</th>
        </tr>
    </table>
    <div style="overflow: auto; height: 600px;">
        <table id="tableData" class="table" style="width: 100%;">
            {% for atd in attendance_of_users %}
            <tr style="
                {% if atd.attendance == present  %}
                    background-color: #57FF59;
                {% elif atd.attendance == absent  %}
                    background-color: #FF5757;
                {% elif atd.attendance == late  %}
                    background-color: #FFFC57;
                {% endif  %}
            ">
                <td style="font-size: 18px; height: 50px; width: 40%;">{{ atd.user.username }}</td>
                <td id="{{ atd.user }}" style="font-size: 18px; height: 50px; width: 30%;">
                    {% if atd.attendance == present  %}
                        Present
                    {% elif atd.attendance == absent  %}
                        Absent
                    {% elif atd.attendance == late  %}
                        Late
                    {% endif %}
                </td>
                <td style="width:10%;">
                    <div class="attendance" style="background-color:#57FF59;">
                        {% if atd.attendance == present  %}
                        <input id="{{ atd.user }}1" type="radio" value="{{ present }}" name="{{ atd.user }}" onclick="update(this, {{ forloop.counter0 }})" checked>
                        {% else %}
                        <input id="{{ atd.user }}1" type="radio" value="{{ present }}" name="{{ atd.user }}" onclick="update(this, {{ forloop.counter0 }})">
                        {% endif %}
                        <label for="{{ atd.user }}1">Present</label>
                    </div>
                </td>
                <td style="width:10%;">
                    <div class="attendance" style="background-color:#FF5757;">
                        {% if atd.attendance == absent  %}
                        <input id="{{ atd.user }}0" type="radio" value="{{ absent }}" name="{{ atd.user }}" onclick="update(this, {{ forloop.counter0 }})" checked>
                        {% else %}
                        <input id="{{ atd.user }}0" type="radio" value="{{ absent }}" name="{{ atd.user }}" onclick="update(this, {{ forloop.counter0 }})">
                        {% endif %}
                        <label for="{{ atd.user }}0">Absent</label>
                    </div>
                </td>
                <td style="width:10%;">
                    <div class="attendance" style="background-color:#FFFC57;">
                        {% if atd.attendance == late  %}
                        <input id="{{ atd.user }}2" type="radio" value="{{ late }}" name="{{ atd.user }}" onclick="update(this, {{ forloop.counter0 }})" checked>
                        {% else %}
                        <input id="{{ atd.user }}2" type="radio" value="{{ late }}" name="{{ atd.user }}" onclick="update(this, {{ forloop.counter0 }})">
                        {% endif %}
                        <label for="{{ atd.user }}2">Late</label>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</form>
<script>
    function update(button, row) {
        var table = document.getElementById("tableData");
        if (button.value == 1) {
            table.rows[row].style = "background-color: #57FF59;";
            document.getElementById(button.name).innerText = "Present";

        } else if (button.value == 0) {
            table.rows[row].style = "background-color: #FF5757;";
            document.getElementById(button.name).innerText = "Absent";

        } else if (button.value == 2) {
            table.rows[row].style = "background-color: #FFFC57;";
            document.getElementById(button.name).innerText = "Late";
        }
    }

    function back() {
        console.log("press")
        if (confirm("Are you sure you want to go back, all the changes will not be saved. Please save before go back")) {
            location.href="{% url 'admin-attendance' %}"
        }
    }
</script>

{% endblock content %}