{% extends "club/base.html"%}
{% block content %}
<h2>Event</h2>
<a class="button" href="{% url 'admin-event-create' %}" >Create New Event</a>
<br><br>

{% for event in events %}
<div class="rectangleBox" style="background-color:#E8E8E8;">
    <a href="{% url 'admin-event-detail' event.id %}">
        <div class="rectangleBoxTitle">{{ event.title }}</div>
        <div style="margin-bottom: 5px;">Description:</div>
        <div class="rectangleBoxShortText"> {{ event.detail }}</div>
        <div class="rectangleBoxShortText" style="color: green;">Start Time: {{ event.start_time|date:"d F Y, P" }}</div>
        <div class="rectangleBoxShortText" style="color: green;">End Time: {{ event.end_time|date:"d F Y, P" }}</div>
        <div class="rectangleBoxTime">{{ event.datetime_created|date:"d F Y P" }}</div>
    </a>
</div>
{% endfor %}
{% endblock content %}